<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%- for node in site.header_pages -%}
            {%- for p in site.pages -%}
              {%- if p.path == node -%}
              <li><a href="{{ p.url | relative_url }}">{{ p.title | escape }}</a></li>
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    <p class="site-version"><small>v{{ site.data.version.number }}</small></p>

  </div>

</footer>
