---
layout: default
---

<div class="category-archive">

  <h1 class="category-archive__heading">Category: {{ page.title | escape }}</h1>

  {%- if page.description -%}
  <p class="category-archive__description">{{ page.description | escape }}</p>
  {%- endif -%}

  {%- assign filtered_posts = site.posts | where_exp: "post", "post.categories contains page.category" -%}
  {%- if filtered_posts.size > 0 -%}
  <div class="post-tiles">
    {%- for post in filtered_posts -%}
    {%- include post-tile.html post=post -%}
    {%- endfor -%}
  </div>
  {%- else -%}
  <p>No posts in this category yet.</p>
  {%- endif -%}

</div>
